<main class="landing-page">
  {{#if email}}
    <h1>Thanks for joining us!</h1>
  {{else}}

    {{#if loggedIn}}
      <h1>Welcome back!</h1>
      <button id="logout" class="btn logout">Logout</button>
    {{else}}
      <br />
      <br />
    {{/if}}
  {{/if}}
  {{#each posts}}
    <br />
    <div class="post">
      <h1>{{this.post_name}}</h1>
      <p>{{this.description}}</p>
      <p class="author">Posted by {{this.User.email}}</p>
      <p class="timestamp">{{formatDate
          this.createdAt
          "dddd, MMMM Do YYYY, h:mm a"
        }}</p>
    </div>
    <br />
  {{/each}}

</main>

<footer class="footer">
  <p align="center">The Code Blog, 2023</p>
</footer>