<main class="landing-page">
  {{#if email}}
    <h1>Thanks for joining us, {{email}}!</h1>
  {{else}}

    {{#if loggedIn}}
      <h1>Welcome back, {{email}}!</h1>
      <button id="logout" class="btn logout">Logout</button>
    {{else}}
      <br />
      <br />
    {{/if}}
  {{/if}}
{{#each posts}}
<div class="post">
  <h2>{{this.post_name}}</h2>
  <p>{{this.description}}</p>
  <p class="author">Posted by {{this.User.email}}</p>
</div>
{{/each}}

</main>

<footer class="footer">
  <p align="center">The Code Blog, 2023</p>
</footer>