<main>
  <h2 class="col s12">Welcome to your dashboard</h2>
  <div class="modal-content">
    <div class="row">
      
    </div>
  </div>
  <div class="modal-content">
    <form class="addPost-form" id="addPost-formId">
      <div class="row">
        <h3 class="col s12">Add New Post</h3>
        <div class="parent">
          <input
            class="input"
            id="post-name"
            type="name"
            name="post-name"
            placeholder="What's your post titled?"
          />
          <input
            class="input"
            id="description"
            type="text"
            name="description"
            placeholder="What's on your mind?"
          />
          <button id="addToDashboard" class="btn" type="submit">Add to your
            addToDashboard!</button>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-content">
    <div class="row">
      <h3 class="col s12">Your Posts:</h3>
      <br>
      <br>
      <div class="edit-post">
        {{#each posts}}
        <div class="individualPost">
          <h4 class="post_name">Post Name: {{this.post_name}}</h4>
          <p class="description">{{this.description}}</p>
          <p class="timestamp">{{formatDate this.createdAt "MM/DD/YYYY"}}</p>
          <button class="editPost-btn btn" data-post_id="{{this.id}}" href="/edit/{{this.id}}">Edit</button>
        </div>

       
        <div>
          <form class="comment-form" id="commentOnPost">
            <button type="submit" class="comment-btn btn" id="comment-btn-{{this.id}}" data-post_id="{{this.id}}" href="/comment/{{this.id}}">Comment</button>

            
            <label for="commentOnPost{{this.commentOnPost}}">Leave a Comment!</label>
            <textarea id="commentEntry{{this.commentEntry}}" placeholder="Write your comment here!"></textarea>
            </form>
        </div>

        {{#each this.comments}}
          <div>
            <p class="comment">{{this.id}}</p>
            <p class="comment-timestamp">{{formatDate this.createdAt "MM/DD/YYYY"}}</p>
          </div>
        {{/each}}


        <div>
          <form class="edit-post-btn-form hide" id="editPostForm{{this.id}}">
            <label for="editPostName{{this.id}}">Post Name</label>
            <input type="text" id="editPostName{{this.id}}" value="{{this.name}}" placeholder="Don't forget to add a post name, or it'll come back blank!">
            <label for="editPostDescription{{this.id}}">Post Description</label>
            <textarea id="editPostDescription{{this.id}}">{{this.description}}</textarea>
            <button class='saveEdit-btn btn' id="saveEdit-btn-{{this.id}}" data-post_id="{{this.id}}">Save</button>
            <button class="cancelEdit-btn btn" id="cancelEdit-btn-{{this.id}}" data-post_id="{{this.id}}">Cancel</button>
          </form>
        </div>
        <br>
        <br>

      </div>
      {{/each}}
    </div>
  </div>

</main>
<script src="/js/add-post.js"></script>
<script src="/js/edit-post.js"></script>
<script src="/js/comment-post.js"></script>